@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.contato .contato__row {
  background-color: white;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px 0px;
  justify-content: space-around;
  align-items: center;
}
.contato .contato__row .mb-3 {
  border: 1px solid transparent;
  min-width: 300px;
  padding: 10px 10px 5px 20px;
  border-radius: 10px;
  transition: all 0.5s ease;
}
.contato .contato__row .mb-3 #copyAlert {
  padding: 2px 4px;
  font-weight: bold;
  transition: opacity 0.5s ease;
}
.contato .contato__row .mb-3 .opacityHidden {
  opacity: 0;
  font-weight: bold;
}
.contato .contato__row .mb-3 .opacityShow {
  opacity: 1;
  font-weight: bold;
  padding: 0px 5px;
}
.contato .contato__row .mb-3:hover {
  cursor: pointer;
  box-shadow: -4px 4px 5px rgba(0, 0, 0, 0.445);
  border: 1px solid black;
}
.contato .contato__row .mb-3:hover p {
  font-weight: bold;
}
.contato .contato__row .click {
  animation: click 0.5s ease;
}

@keyframes click {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
/* 48px */
/* 32px */
/* 16px */
:root {
  --preto: #333333;
  --branco: #fafafa;
  --destaque: #2c3e50;
  --cor1: #070707;
  --cor2: #7F7F7F;
  --fonte1: Roboto, sans-serif;
  --fonte2: Merriweather, cursive;
  --font-size-1: 2.25rem;
  --font-size-2: 1.5rem;
  --font-size-3: 1rem;
  --font-size-4: 0.75rem;
  --font-subtitulo: 2.5em;
  --size--navitem: 1.2em;
  --text-shadow: -1px 2px 6px rgba(0, 0, 0, 0.171);
  --text-shadow-lite: -1px 0px 4px rgba(0, 0, 0, 0.27);
  --text-shadow-medium: 0px 0px 4px rgba(0, 0, 0, 0.226);
}

body {
  background-color: var(--branco);
}

.navbar, .container-fluid {
  background-color: white;
}

nav {
  height: 80px;
  transition: height 0.5s ease, top 0.5s ease;
}

._nav-fixed {
  position: fixed !important;
  top: 0;
  width: 100%;
  height: 80px;
  z-index: 1;
  transition: height 0.5s ease, top 0.5s ease;
}

.navbar-brand {
  font-family: var(--fonte1);
  color: #2c3e50;
}

.nav-link {
  color: var(--cor2);
}

.nav-item {
  font-size: var(--size--navitem);
  margin: 0px 20px;
}

.nav-item .line-active {
  position: relative;
  bottom: 10px;
  width: 1%;
  border: 1px solid transparent;
  transition: all 0.5s ease;
}

.nav-item:hover .line-active {
  border: 1px solid black;
  width: 100%;
}

.subtitulo {
  font-size: var(--font-subtitulo);
  font-weight: bold;
  text-align: center;
  padding-top: 100px;
  text-shadow: var(--text-shadow-medium);
  letter-spacing: 5px;
  color: var(--cor1);
}

.paragrafo {
  font-size: var(--font-size-2);
  font-family: var(--fonte1);
  color: var(--cor1);
  text-indent: 20px;
}

.separacao {
  background-color: var(--destaque);
  height: 200px;
  width: 100%;
  margin: 50px 0px;
}

header {
  padding-top: 50px;
}

header h1 {
  font-size: var(--font-size-1);
  line-height: 70px;
  letter-spacing: 5px;
  font-weight: 400;
  text-shadow: var(--text-shadow);
  color: var(--preto);
}

.botao {
  width: 350px;
  height: 70px;
  margin: auto auto 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 3px;
  font-size: 1.5em;
  font-weight: 500;
  color: var(--branco);
  background-color: var(--destaque) !important;
  transition: all 0.5s ease;
}

.botao:hover {
  color: var(--branco);
  transform: translateX(10px) translateX(5px) scale(1.01);
  box-shadow: -1px 1px 6px rgba(0, 0, 0, 0.6509803922);
}

.servicos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.sectionServicos h2 {
  width: 250px;
  margin: auto;
  margin-bottom: 30px;
}

.sectionServicos h2 .active {
  width: 1%;
  border: 1px solid transparent;
  transition: all 1s ease;
}

.sectionServicos:hover h2 .active {
  width: 100%;
  border: 1px solid black;
}

.servicos .card {
  min-height: 300px;
  width: 280px;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.3098039216);
  padding: 0px;
  opacity: 0.2;
  transform: scale(0.1);
  transition: all 0.5s ease;
  cursor: default;
}

.servicos .card:hover {
  box-shadow: -10px 10px 7px rgba(0, 0, 0, 0.3098039216);
  transform: scale(1.01);
}

.showLeg {
  transition: all 0.5s linear;
  opacity: 0.2;
  transform: scale(0.1);
}

.visivel {
  opacity: 1 !important;
  transform: scale(1) !important;
}

.servicos .card p {
  padding-bottom: 10px;
}

.servicos .card:hover .faicon {
  color: red;
  text-shadow: -5px 5px 5px rgba(0, 0, 0, 0.3490196078);
}

.servicos .card:hover .faicon1 {
  color: black;
  text-shadow: -5px 5px 5px rgba(0, 0, 0, 0.3490196078);
}

.servicos .card:hover .faicon2 {
  color: black;
  text-shadow: -5px 5px 5px rgba(0, 0, 0, 0.3490196078);
}

.servicos .card:hover .faicon3 {
  color: black;
  text-shadow: -5px 5px 5px rgba(0, 0, 0, 0.3490196078);
}

.faicon {
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3490196078);
  transition: all 0.5s ease;
  color: transparent;
}

.servicos .card .card-top {
  height: 20%;
  font-size: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.servicos .card .card-body {
  height: 80%;
  padding: 0px 10px;
}

.servicos .card .card-body p {
  padding: 0px 15px;
  letter-spacing: 1px;
  line-height: 21px;
  font-size: var(--font-size-3);
  font-family: var(--fonte1);
  font-weight: 500;
  margin-bottom: 5px;
}

.card-body h3 {
  font-size: 1.2em;
  text-align: center;
  font-weight: bold;
  color: var(--cor1);
}

.card-body ul {
  width: 100%;
}

.card-body ul li {
  font-size: 0.9em;
}

.faq {
  border: 1px solid black;
  transition: max-height 0.5s ease;
  overflow: hidden;
  margin-bottom: 10px;
  margin: 10px;
}

.faq[open] {
  max-height: 200px;
  border-radius: 0px 0px 10px 10px;
  background-color: white;
}

.faq summary {
  background-color: var(--preto);
  color: white;
  padding: 10px;
  font-weight: bold;
  cursor: pointer;
}

.faq .detail__text {
  color: var(--preto);
  padding: 10px;
  width: 100%;
}

.indice {
  width: 60%;
  margin: auto;
  min-height: 160px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-evenly;
  border-radius: 10px;
  margin-top: 10px;
  list-style-type: disclosure-closed;
  list-style-position: inside;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.3098039216);
  background-color: var(--preto);
}

.indice li {
  padding: 5px 20px;
  font-size: 1.1em;
  margin-top: 10px;
  margin-bottom: 10px;
  color: var(--branco);
  font-weight: bold;
  letter-spacing: 3px;
}

.indice a {
  text-decoration: none;
  color: var(--preto);
}

.indice a .active {
  width: 0%;
  border: 1px solid transparent;
  position: relative;
  transition: all 0.5s ease;
}

.indice a:hover {
  font-weight: bold;
  transition: all 0.5s ease;
}

.indice a:hover li li::marker {
  transform: translateX(10px);
}

.indice a:hover .active {
  width: 100%;
  border: 1px solid var(--branco);
}

.line_faq {
  display: flex;
  justify-content: center;
  height: 200px;
}

.cards_faq {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
}
.cards_faq .card {
  border: 1px solid rgba(0, 0, 0, 0.075);
}

.cards_faq .card {
  margin: 10px 60px;
  width: 400px;
  border-radius: 10px 10px 0px 0px;
  padding: 0px;
}

.cards_faq p {
  font-size: 1.1em;
  font-family: var(--fonte1);
  padding: 0px 20px;
  color: var(--preto);
}

.cards_faq h5 {
  color: var(--branco);
  background-color: var(--preto);
  font-weight: bold;
  height: 60px;
  display: flex;
  justify-content: center;
  font-size: 1.2em;
  align-items: center;
  padding: 0px 10px;
  border-radius: 10px 10px 0px 0px;
}

.__card {
  width: 200px;
  height: 220px;
  display: flex;
  border: 1px solid var(--preto);
  background-color: white;
  margin: 50px;
  border-radius: 10px;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 0px;
}

.card__top {
  height: 30%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  font-size: 3em;
}

.card__body {
  height: 70%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.card__body span {
  font-weight: bold;
  letter-spacing: 2px;
  color: var(--preto);
}

.card__body .btn {
  width: 90%;
  border: 1px solid black;
  font-size: 1.1em;
  background-color: var(--preto);
  color: var(--branco);
  font-weight: bold;
  transition: all 0.5s ease;
}

.card__body .btn:hover {
  background-color: var(--destaque);
  color: white;
}

.list__contato {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.footer {
  background-color: var(--preto);
  color: white;
  min-height: 200px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.footer__header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px 0px;
  min-height: 200px;
}

.footer__header ul {
  list-style: none;
}

.footer__header ul a {
  text-decoration: none;
  color: var(--branco);
  letter-spacing: 5px;
  font-family: var(--fonte1);
  margin: 10px 0px;
}

.footer__middle {
  text-align: center;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 1.2em;
  letter-spacing: 5px;
  min-height: 200px;
}

.footer__bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 200px;
}

.footer__item {
  width: 33%;
  padding: 10px 20px;
}

@media screen and (max-width: 600px) {
  .footer__item {
    width: 100%;
  }
  .botao {
    font-size: 1.2em;
    height: 70px;
  }
  .servicos {
    padding: 30px;
  }
  .indice {
    width: 90%;
  }
  .line_faq {
    height: 400px;
  }
  .cards_faq {
    padding: 0px;
  }
  .cards_faq .card {
    margin: 20px 0px;
  }
  .cards_faq h5 {
    border-radius: 0px;
  }
  header h1 {
    font-size: var(--font-size-4);
    text-align: center;
  }
}
@media screen and (max-width: 1000px) {
  header h1 {
    font-size: 1.5em;
    line-height: 60px;
    letter-spacing: 2px;
    font-weight: 600;
  }
}
.effect {
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
}

.btn-whatsapp {
  background-color: white;
  border: 2px solid black;
  border-radius: 15px;
  height: 80px;
  font-size: 1.2rem;
  font-weight: 400;
  max-width: 400px;
  transition: all 0.5s ease;
}
.btn-whatsapp:hover {
  background-color: #2c3e50;
  color: #fafafa;
  border-color: #2c3e50;
}

.link {
  color: #2c3e50;
  font-weight: bold;
}

@media screen and (min-width: 600px) {
  .mobile__image {
    width: 50%;
    float: left;
  }
}
@media screen and (max-width: 600px) {
  .mobile__image {
    width: 100%;
  }
}/*# sourceMappingURL=main.css.map */