@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Nunito+Sans:wght@400;500;700&display=swap');

*
{
    margin: 0px;
    padding: 0px;
}

:root 
{
    --preto : #333333;
    --branco : #EDEDED;

    --destaque: #2c3e50;

    --cor1: #575757;
    --cor2: #7F7F7F;

    --fonte1 : 'Nunito Sans', cursive;
    --fonte2: 'Merriweather', cursive;

    font-size: 100%; /* 16 px */

    --font-size-1: 2.25rem;   /* 48px */
    --font-size-2: 1.5rem;    /* 32px */
    --font-size-3: 1rem;
    --font-size-4: 0.75rem;   /* 16px */


    --font-subtitulo : 2.5em;

    --size--navitem: 1.2em;
    --paragrafo-shadow: ;

    --text-shadow: -1px 2px 6px rgba(0, 0, 0, 0.171);
    --text-shadow-lite: -1px 0px 4px rgba(0,0,0,0.27);
    --text-shadow-medium:  0px 0px 4px rgba(0, 0, 0, 0.226);
     
}

@media  (min-width: 768px)
{
    :root {
        --font-size-1: 3rem;   /* 48px */
        --font-size-2: 2rem;    /* 32px */
        --font-size-3: 1rem;
        --font-size-4: 0.75rem;   /* 16px */

    }
}


body
{
    background-color: var(--branco);
}

.navbar, .container-fluid
{
    background-color: white;
}



nav
{

    height: 80px;
    transition: height 0.5s ease, top 0.5s ease;
}

._nav-fixed
{
    position: fixed !important;
    top: 0;
    width: 100%;
    height: 80px;
    z-index: 1;
    /* background-color: white; */
    /* border-bottom: 1px solid black; */
    transition: height 0.5s ease, top 0.5s ease;
}

.navbar-brand
{
    font-family: var(--fonte1);
    color: var(--cor2);
}

.nav-link
{
    color: var(--cor2);
}


.nav-item
{
    font-size: var(--size--navitem);
    font-family: var(--fonte2);
    margin: 0px 20px;

    /* background-color: red; */
    /* padding: 5px 5px; */
}

.nav-item .line-active
{
    position: relative;
    bottom: 10px;

    width: 1%;
    border: 1px solid transparent;

    transition: all 0.5s ease;
}

.nav-item:hover .line-active
{
    border: 1px solid black;
    width: 100%;
}




.subtitulo
{
    font-size: var(--font-subtitulo);
    font-weight: bold;
    text-align: center;
    padding-top: 100px;
    text-shadow: var(--text-shadow-medium);
    font-family: var(--fonte2);
    letter-spacing: 5px;
    color: var(--cor1);
}

.paragrafo
{
    font-size: var(--font-size-2);
    font-family: var(--fonte1);
    text-shadow: var(--text-shadow-lite);
    color: var(--cor1);
    text-indent: 20px;
}

.separacao
{
    background-color: var(--preto);
    height: 200px;
    width: 100%;
    margin: 50px 0px;
}

header
{
    /* height: 600px; */
    padding-top: 50px;
    
    /* background-color: red; */
}

header h1 
{
    font-size: var(--font-size-1);
    line-height: 70px;
    letter-spacing: 5px;
    font-weight: 400;
    text-shadow: var(--text-shadow);
    font-family: var(--fonte2);
    color: var(--preto);
}

.botao
{
    width: 350px;
    height: 70px;
    margin: auto auto 30px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 3px;
    font-size: 1.5em;
    font-weight: 500;
    font-family: var(--fonte2);

    color: var(--branco);
    background-color: var(--destaque)  !important;

    transition: all 0.5s ease;
}

.botao:hover 
{
    /* border: 2px solid black; */
    /* font-weight: bold; */
    /* color: var(--destaque); */
    /* background-color: var(--branco) !important; */
    /* transform: scale(1.01); */
    color: var(--branco);
    transform: translateX(10px) translateX(5px) scale(1.01);
    box-shadow: -1px 1px 6px #000000a6;
}

.servicos 
{
    /* background-color: red; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

/* .sectionServicos:hover h2
{
    text-decoration: underline;
} */

.sectionServicos h2 
{
    width: 250px;
    margin: auto;
    margin-bottom: 30px;
}

.sectionServicos h2 .active 
{
    width: 1%;
    border: 1px solid transparent;
    transition: all 1s ease;
}

.sectionServicos:hover h2 .active 
{
    width: 100%;
    border: 1px solid black;
}


.servicos .card 
{
    /* background-color: rgba(255, 0, 0, 0.404); */
    min-height: 300px;
    width: 280px;
    /* box-shadow: -10px 10px 7px #0000004f; */
    box-shadow: 0px 0px 7px #0000004f;
    padding: 0px;
    opacity: 0.2;
    transform: scale(0.1);
    transition: all 0.5s ease;
    cursor: default;
}

.servicos .card:hover 
{
    box-shadow: -10px 10px 7px #0000004f;
    transform: scale(1.01);
}



.showLeg
{
    transition: all 0.5s ease;
    opacity: 0.2;
    transform: scale(0.1);
}

.visivel
{
    /* background-color: red; */
    opacity: 1 !important;
    transform: scale(1) !important;

}


.servicos .card p 
{
    text-shadow: var(--text-shadow-lite);
    padding-bottom: 10px;
}

.servicos .card:hover .faicon 
{
    color: red;
    text-shadow: -5px 5px 5px #00000059;
}

.servicos .card:hover .faicon1 
{
    color: #DB2592;
    text-shadow: -5px 5px 5px #00000059;
}

.servicos .card:hover .faicon2
{
    color: #DB8525;
    text-shadow: -5px 5px 5px #00000059;
}

.servicos .card:hover .faicon3
{
    color: #DB6525;
    text-shadow: -5px 5px 5px #00000059;
}

.faicon
{
    text-shadow: 0px 0px 5px #00000059;
    transition: all 0.5s ease;
    color: transparent;
}


.servicos .card .card-top
{
    height: 20%;
    /* background-color: blue; */
    font-size: 3em;

    display: flex;
    justify-content: center;
    align-items: center;
}

.servicos .card .card-body
{
    height: 80%;
    padding: 0px 10px;
    /* background-color: red; */
}

.servicos .card .card-body p 
{
    padding: 0px 15px;
    letter-spacing: 3px;
    line-height: 21px;
    /* font-size: 0.9em; */
    font-size: var(--font-size-3);
    /* text-indent: 15px; */
    font-family: var(--fonte1);
    font-weight: 500;
    margin-bottom: 5px;
}

.card-body h3 
{
    /* background-color: yellowgreen; */
    font-size: 1.2em;
    text-align: center;
    font-weight: bold;
    color: var(--cor1);
    font-family: var(--fonte2);
}



.card-body ul 
{
    /* background-color: red; */
    width: 100%;
}

.card-body ul li 
{
    font-size: 0.9em;
    /* background-color: blue; */
}



    /* Estilo inicial do elemento details e do conteúdo interno */
    .faq {
        /* width: 80%; */
        border: 1px solid black;
        transition: max-height 0.5s ease;
        overflow: hidden;
        /* max-height: 0; */
        margin-bottom: 10px;
        margin: 10px;
      }
  
      .faq[open] {
        max-height: 200px; /* Altura máxima quando o details está aberto */
        border-radius: 0px 0px 10px 10px;
        background-color: white;
      }
  
      /* Estilo para o summary */
      .faq summary {
        background-color: var(--preto); /* Certifique-se de que --preto seja definido no seu CSS ou em um arquivo de variáveis */
        color: white;
        padding: 10px;
        font-weight: bold;
        cursor: pointer; /* Adiciona cursor apontando para indicar que é clicável */
      }
  
      /* Estilo para o conteúdo interno do details */
      .faq .detail__text {
        color: var(--preto);
        padding: 10px;
        /* background-color: blue; Corrigido: removi a duplicação da propriedade backgroundColor */
        width: 100%;
      }


      /* Quem somos */

.indice 
{
    /* border: 1px solid black; */
    width: 60%;
    margin: auto;
    min-height: 160px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-evenly;
    border-radius: 10px;
    margin-top: 10px;
    list-style-type: disclosure-closed;
    list-style-position: inside;
    box-shadow: 0px 0px 7px #0000004f;
    background-color: var(--preto);
}

.indice li 
{
    /* background-color: red; */
    padding: 5px 20px;
    font-size: 1.1em;
    margin-top: 10px;
    margin-bottom: 10px;

    color: var(--branco);
    font-weight: bold;
    font-family: var(--fonte2);
    letter-spacing: 3px;
}

.indice a 
{
    text-decoration: none;
    color: var(--preto);
}

.indice a .active 
{
    width: 0%;
    border: 1px solid transparent;
    position: relative;
    /* bottom: 15px; */

    transition: all 0.5s ease;
}

.indice a:hover 
{
    /* font-size: 1.2em; */
    font-weight: bold;
    transition: all 0.5s ease;
}

.indice a:hover li li::marker
{
    transform: translateX(10px);
}

.indice a:hover .active 
{
    width: 100%;
    border: 1px solid var(--branco);
}

/*  */

.line_faq
{
    display: flex; justify-content: center; height: 200px; 
}

.cards_faq
{
    /* background-color: red; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
}

.cards_faq .card 
{
    margin: 10px 60px;
    width: 400px;
    border-radius: 10px 10px 0px 0px;
    padding: 0px;
}

.cards_faq p 
{

    font-size: 1.1em;
    font-family: var(--fonte1);
    padding: 0px 20px;
    /* text-indent: 15px; */
    color: var(--preto);
}

.cards_faq h5 
{
    /* background-color: blue; */
    color: var(--branco);
    background-color: var(--preto);
    font-weight: bold;
    font-family: var(--fonte2);
    height: 60px;
    display: flex;
    justify-content: center;
    font-size: 1.2em;
    align-items: center;
    padding: 0px 10px;
    border-radius: 10px 10px 0px 0px;
}



/*  */
/* CONTATO */
/*  */

.__card
{
    width: 200px;
    height: 220px;
    /* background-color: rgba(255, 0, 0, 0.384); */
    display: flex;
    border: 1px solid var(--preto);
    background-color: white;
    margin: 50px;
    border-radius: 10px;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 0px;
}

.card__top
{
    /* background-color: rgba(0, 0, 255, 0.308); */
    height: 30%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    font-size: 3em;
}

.card__body
{
    /* background-color: rgba(238, 130, 238, 0.315); */
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.card__body span 
{
    font-family: var(--fonte2);
    font-weight: bold;
    letter-spacing: 2px;
    color: var(--preto);
}

.card__body .btn 
{
    /* background-color: red; */
    width: 90%;
    border: 1px solid black;
    font-size: 1.1em;
    background-color: var(--preto);
    color: var(--branco);
    font-weight: bold;
    transition: all 0.5s ease ;
}

.card__body .btn:hover 
{
    background-color: var(--destaque);
    color: white;
}

.list__contato
{
    /* background-color: red; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.footer
{
    background-color: var(--preto);
    color: white;
    height: 200px;
    width: 100%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;    
}

.footer__header
{
    /* background-color: rgba(0, 0, 255, 0.13); */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
}

.footer__header ul 
{
    list-style: none;
}

.footer__header ul a
{
    text-decoration: none;
    color: var(--branco);
    letter-spacing: 5px;
    font-family: var(--fonte1);
    margin: 10px 0px;
}

.footer__middle
{
    /* background-color: rgba(255, 0, 0, 0.178); */
    text-align: center;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-weight: bold;
    font-size: 1.2em;
    letter-spacing: 5px;
    font-family: var(--fonte2);
}

.footer__bottom
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__item
{
    /* background-color: red; */
    width: 33%;
    padding: 10px 20px;
}

@media screen and (max-width: 600px)
{
    .footer__item
    {
        width: 100%;
    }
    .botao 
    {
        font-size: 1.2em;
        height: 70px;
    }

    .servicos
    {
        padding: 30px;
    }

    .indice
    {
        width: 90%;
    }

    .line_faq
    {
        height: 400px;
    }

    .cards_faq
    {
        padding: 0px;
    }
    .cards_faq .card 
    {
        margin: 20px 0px;
    }

    .cards_faq h5 
    {
        border-radius: 0px;
    }

    header h1 
    {
        background-color: red;
        font-size: var(--font-size-4);
        text-align: start;
    }

}

@media screen and (max-width:1000px)
{
    header h1 {
        font-size: 1.5em;
        line-height: 60px;
        letter-spacing: 2px;
        font-weight: 600;
    }
}

